<div data-controller="home">
  <h1 class="text-2xl text-red-600">
    Welcome
  </h1>
  <ul class="my-3">
    <li>Rails 7.1.1</li>
    <li>Ruby 3.2.2</li>
  </ul>
  <%= render LabelComponent.new %>
  <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "text-gray-600 mr-6" %>
</div>
